{% extends "base.html" %}

{% block title %}Parser MTI-API{% endblock %}

{% block main %}
<div class="container mt-5">
    <div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;"></div>
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            {% if product.detail_picture %}
                <div class="d-flex justify-content-center">
                    <img src="{{ product.detail_picture }}"
                     alt="Product" class="img-fluid rounded mb-3 product-image" id="mainImage">
                </div>
                <div class="d-flex justify-content-center flex-wrap">
                    <img src="{{ product.detail_picture }}" alt="{{product.name}}" class="me-1 thumbnail rounded active" onclick="changeImage(event, this.src)">
                    {% for photo_dict in product.photos %}
                        {% for photo_id, photo_url in photo_dict.items() %}
                            <img src="{{ photo_url }}" alt="{{product.name}}" class="me-1 thumbnail rounded" onclick="changeImage(event, this.src)">
                        {% endfor %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="d-flex justify-content-center">
                    <img class="img-fluid rounded mb-3 product-image" src="{{ url_for('static', filename='images/no_image.png') }}" alt="Card image">
                </div>
            {% endif %}
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            {% if product.name %}
                <h2 class="mb-3">
                    <span id="copyText-{{ product.id }}">
                        {{ product.name }}
                    </span>
                    <span class="copyToClipboard" id="copyToClipboard-{{ product.id }}">
                        <img height="30" src="{{ url_for('static', filename='images/copy.svg') }}">
                    </span>
                </h2>
            {% else %}
                <h2 class="mb-3">Назва відсутня</h2>
            {% endif %}
            <div id="product-idd" class="text-muted mb-4" data-cardid="{{product.id}}" data-categoryid="{{category_id}}" data-subcategoryid="{{subcategory_id}}" >
                ID:
                <span id="copyText-{{ product.id }}">
                    {{product.id}}
                </span>
                <span class="copyToClipboard" id="copyToClipboard-{{ product.id }}">
                    <img height="30" src="{{ url_for('static', filename='images/copy.svg') }}">
                </span>
            </div>

            {% for attribute in product.attributes %}
                {% if attribute.code_name == 'preview_text' and attribute.value %}
                    <p class="mb-4">
                        preview_text:
                        <span id="copyText-{{ attribute.code_name }}">
                            {{ attribute.value }}
                        </span>
                        <span class="copyToClipboard" id="copyToClipboard-{{ attribute.code_name }}">
                            <img height="30" src="{{ url_for('static', filename='images/copy.svg') }}">
                        </span>
                    </p>
                {% endif %}

                {% if attribute.code_name == 'file' and attribute.value %}
                    <div class="d-flex justify-content-start">
                        <div class="col-md-4 col-sm-6 col-12 mb-3">
                            <button id="instruction" class="btn btn-secondary">
                                Інструкція <span id="spinner-instruction" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% if product.photos or product.detail_picture %}
                <div class="d-flex justify-content-start">
                    <div class="col-md-4 col-sm-6 col-12 mb-3">
                        <button id="image-origin" class="btn btn-secondary">
                            Фото (оригінал) <span id="spinner-image-origin" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

                <div class="d-flex justify-content-start">
                    <div class="col-md-4 col-sm-6 col-12 mb-3">
                        <button id="image-webp" class="btn btn-secondary">
                            Фото (webp) <span id="spinner-image-webp" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-12">
            {% if product.attributes %}
                <ul class="list-group">
                    {% for attribute in product.attributes %}
                         {% if attribute.value %}
                            {% if attribute.code_name != 'preview_text' %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6 fw-bold">
                                            {% if attribute.code_value %}
                                                {{ attribute.code_value }}
                                            {% else %}
                                                {{ attribute.code_name }}
                                            {% endif %}
                                        </div>
                                        <div class="col-6 text-start">
                                            <span id="copyText-{{ attribute.code_name }}">
                                                {{ attribute.value }}
                                            </span>
                                            <span class="copyToClipboard" id="copyToClipboard-{{ attribute.code_name }}">
                                                <img height="30" src="{{ url_for('static', filename='images/copy.svg') }}">
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="d-flex justify-content-center">
                    <h5 class="mе-5">Характеристики відсутні</h5>
                </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock main %}

{% block scripts %}
    <script>
        function changeImage(event, src) {
            document.getElementById('mainImage').src = src;
            document.querySelectorAll('.thumbnail').forEach(thumb => thumb.classList.remove('active'));
            event.target.classList.add('active');
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='scripts/src/product-detail.js') }}"></script>
{% endblock %}