{% extends "base.html" %}

{% block title %}Parser MTI-API{% endblock %}

{% block main %}

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h2 id="category_name" class="border-bottom text-center mb-5">{{ category_name }} ({{ products_count }} шт.)</h2>
        </div>
    </div>
</div>

{% include "component/spinner.html" %}

<div class="container">
    <div class="row g-3">
        {% for product in products_list %}
            <div class="col-sm-6 col-md-4 col-lg-3 col-12">
                <div class="card h-100 d-flex flex-column">
                    <img class="card-img-top fixed-height-img" src="{{ product.detail_picture }}" alt="Card image">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <p class="card-text text-center">id: {{ product.id }}</p>
                        <div class="d-flex justify-content-center mt-auto">
                            <a type="button" class="btn btn-success" href="{{ url_for('product.product_detail', category_id=category_id, subcategory_id=subcategory_id, product_id=product.id) }}">Переглянути</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}
