{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container d-flex justify-content-between">
    <div>
      <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'product:category_list' %}">
        <img src="{% static 'images/logo.svg' %}" alt="Logo">
      </a>
      <a class="navbar-brand mt-2 mt-lg-0" href="https://products.mti.ua/">
        <svg class="pageLogo" width="95" height="40" viewBox="0 0 95 40" version="1.1">
          <g fill="#fff">
              <path d="M76.2142215,7.16510627 L87.6740511,7.16510627 L87.6740511,40 L76.2142215,40 L76.2142215,7.16510627 Z M41.8316329,7.16510627 L41.8316329,16.9574478 L52.4320085,16.9574478 L52.4320085,40 L63.8927238,40 L63.8927238,16.9574478 L74.4922139,16.9574478 L74.4922139,7.16510627 L41.8316329,7.16510627 Z M0,7.16510627 L0,40 L11.4602725,40 L11.4602725,25.2242978 L20.0641112,38.2695124 L28.651124,25.2358344 L28.651124,40 L40.112282,40 L40.112282,7.16510627 L29.2245361,7.16510627 L20.056141,21.7908329 L10.8873031,7.16510627 L0,7.16510627 Z M83.942223,0 L95,0 L95,11.0808892 L90.9263385,11.0808892 L90.9263385,4.08306341 L83.942223,4.08306341 L83.942223,0.00088742956 L83.942223,0 Z"></path>
          </g>
		</svg>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Citrus</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" style="margin-left: 5rem">
        <ul class="navbar-nav justify-content-between flex-grow-1 pe-3">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'product:category_list' %}">Головна</a>
          </li>
          {% if is_search %}
            <form class="d-flex" role="search">
              <input id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>