{% load static %}
<!-- bootstrap scripts  ============================================ -->
<script src="{% static 'scripts/libs/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'scripts/bootstrap/popper.min.2.11.8.js' %}"></script>
<script src="{% static 'scripts/bootstrap/bootstrap.min.5.3.3.js' %}"></script>

<!--<script src="{% static 'scripts/libs/json5-2.2.3.min.js' %}"></script>-->
<script src="{% static 'scripts/libs/axios.min.js' %}"></script>
<script src="{% static 'scripts/src/utils.js' %}"></script>
