<!-- bootstrap scripts  ============================================ -->
<script src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/bootstrap/popper.min.2.11.8.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.min.5.3.3.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/json5-2.2.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>